@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Kardia";
	src: url("src/assets/fonts/Kardia-Fat.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
